########################
# Servers Inventory file
########################

[localhost]
localhost ansible_connection=local

[tower_servers]

{% for vm in inventory_tower_servers %}
{{ vm.name }} ansible_host={{ vm.ip}}
{% endfor %}
